.Thumbnail {
   width: 100%;
}



.Video-title {
   margin-top: 0;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom: 12px;

}

.Video-info-grid {
   display: grid;
   grid-template-columns: 50px 1fr;
}

.Channel {
   width: 40px;
   border-radius: 40px;
}

.thumbnail-row {
   margin-bottom: 12px;
}

.Video-author,
.Video-stats {
   font-size: 12px;
   color: rgb(96, 96, 96);
}


.Video-author {
   margin-bottom: 4px;
}

.Video-grid {
   display:grid;
   z-index: 10;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
   margin-left: 80px;
}

.Channel-picture {
   display: inline-block;
   vertical-align: top;
   margin-top: 11px;
   width: 50px;
}

.Video-info {
   display: inline-block;
   width: 245px;
   margin-top: 12px;
}